body {
    font-family: sans-serif;
    margin: 30px;
}
#chatBox {
    width: 400px;
    height: 400px;
    border: 1px solid #ccc;
    padding: 10px;
    overflow-y: auto;
    margin-bottom: 10px;
}
.msg {
    margin: 6px 0;
    padding: 8px 12px;
    border-radius: 10px;
    max-width: 80%;
}
.user-msg {
    background-color: #d1f1ff;
    text-align: right;
}
.bot-msg {
    background-color: #f1f1f1;
    text-align: left;
}


.register, .login {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid aqua;
    padding: 20px;
    border-radius: 10px;
    background-color: snow;
    width: 500px;
    margin: 50px auto 0;
}

.register form, .login form  {
    width: 100%;
}

.register label,
.register input, .login label, .login input {
    width: 80%;
    padding: 10px;
    box-sizing: border-box;
}

.form-row {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 20px 0;
    gap: 30px;
}
.form-row label {
    width: 100px;
    text-align: left;
}

.form-row input {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
}

.login-btn, .register-btn {
    margin: 30px auto 0 auto;
    background-color: dodgerblue;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: azure;
    cursor: pointer;
    display: block;
    font-size: 16px;
    width: 25%;
}
